<!DOCTYPE html>
<html xmls:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Person form</title>
</head>
<body>
	<h2>Hello.</h2>
	<form action="#" th:action="@{/movies}" th:object="${movie}" method = "post">
		
	Movie Title: <input type ="text" th:field="*{title}" />
		<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br />
		
	Movie Rating: <input type ="text" th:field="*{rating}" />
		<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span><br />
		
	<input type="submit" value="Submit"/>
	</form>
</body>
</html>